@import "/S1000RR_Presentation_Website/styles/color-palet.less";

// ---------------------------------------------- HEADER 

.header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  justify-content: space-between;
  z-index: 1;

  .header__logo {
    h1 {
      color: @color_black_weak;
      font-size: 32px;
      font-weight: 200;
      letter-spacing: 1px;
    }
  }

  .header__menu {
    ul {
      display: flex;
    }

    li {
      list-style: none;
      margin: 0 5px;
      padding: 8px;

      a {
        color: @color_black_weak;
        font-size: 17px;
        font-weight: 300;
        padding: 6px 0;
        transition: 0s;
      }

      a:hover {
        border-bottom: 2px solid @color_black_weak;
      }

      .header__menu--selected {
        font-weight: 400;
        border-bottom: 2px solid @color_black_weak;
      }
    }
  }

  .header__buttons {
    .header__button__login {
      display: flex;
      align-items: center;
      font-size: 25px;
      margin-left: 10px;
      color: @color_black_weak;

      p {
        font-size: 17px;
        font-weight: 300;
        margin-right: 10px;
      }

      a {
        font-weight: 400;
      }

      img {
        width: 25px;
      }

      img:hover {
        cursor: pointer;
      }
    }
  }
}

// ---------------------------------------------- BANNER PRINCIPAL

.main-banner {
  display: flex;
  position: relative;

  .main-banner__background__left {
    display: flex;
    align-items: center;
    width: calc(100% - 360px);
    height: 100%;

    .main-banner__content__intro {
      width: 70%;

      .main-banner__content__intro__text {
        p:nth-of-type(1) {
          position: relative;
          font-size: 60px;
          font-weight: 800;
          letter-spacing: 1px;
          left: -3px;
          margin-bottom: 5px;
        }

        p:nth-of-type(2) {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        p:nth-of-type(3) {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 1px;
          text-align: justify;
          line-height: 1.5;
        }

        .main-banner__content__intro__text--divisor {
          background-color: @color_black_weak;
          width: 60px;
          height: 3px;
          margin: 25px 0;
        }
      }
    }
  }

  .main-banner__background__right {
    position: relative; 
    width: 360px;
    height: 100%;

    .main-banner__background__right--image {
      background-image: url('/S1000RR_Presentation_Website/images/s1000rr-banner-01.jpg');
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      // filter: blur(12px);
      // -webkit-filter: blur(12px);
      opacity: 0.1;
    }

    .main-banner__content__image {
      position: absolute;
      display: flex;
      align-items: center; 
      width: 100%;
      height: 100%;
      transform: translateX(-56%);

      img {
        max-width: 400px;
        transition: 0.4s;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

// ---------------------------------------------- BANNER DE CORES

.color-banner {
  display: flex;
  justify-content: center;
  align-items: center;

  .color-banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .color-banner__content__title {
      width: 100%;
      max-width: 1000px;
      text-align: center;
      margin-bottom: 30px;

      p:nth-of-type(1) {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        left: -3px;
        margin-bottom: 15px;
      }

      p:nth-of-type(2) {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.5;
      }
    }

    .color-banner__content__cards {
      display: flex;
      margin-top: 40px;

      .color-banner__content__card-left, .color-banner__content__card-right {
        width: 280px;
        height: 450px;
      }

      .color-banner__content__card-left {
        position: relative;

        .color-banner__content__card-left__background {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url('/S1000RR_Presentation_Website/images/s1000rr-grey.jpg');
          background-size: cover;
          background-position: center;
          opacity: 0.1;
        }

        .color-banner__content__card-left__content {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 280px;
          height: 100%;

          img {
            position: relative;
            width: 400px;
            left: -10px;
            transition: 0.4s;
          }
    
          img:hover {
            transform: scale(1.1);
          }

          div {
            .color-banner__content__card-left__content__colors {
              display: flex;
              justify-content: center;
              width: 100%;
              height: 30px;
              margin-bottom: 30px;

              .color-1, .color-2, .color-3 {
                width: 30px;
                height: 100%;
                border-radius: 50%;
                margin: 0 5px;
                box-shadow: 0 0 10px rgba(219, 219, 219, 0.6);
              }

              .color-1 {
                background-color: @color_white;
              }
              .color-2 {
                background-color: @color_grey;
              }
              .color-3 {
                background-color: @color_black_weak;
              }
            }
          }
        }
      }
  
      .color-banner__content__card-right {
        position: relative;
        margin-left: 100px;

        .color-banner__content__card-right__background {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url('/S1000RR_Presentation_Website/images/s1000rr-red.jpg');
          background-size: cover;
          background-position: center;
          opacity: 0.1;
        }

        .color-banner__content__card-right__content {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 280px;
          height: 100%;

          img {
            position: relative;
            width: 420px;
            left: -10px;
            transition: 0.4s;
          }

          img:hover {
            transform: scale(1.1);
          }

          div {
            .color-banner__content__card-right__content__colors {
              display: flex;
              justify-content: center;
              width: 100%;
              height: 30px;
              margin-bottom: 30px;

              .color-1, .color-2, .color-3 {
                width: 30px;
                height: 100%;
                border-radius: 50%;
                margin: 0 5px;
                box-shadow: 0 0 10px rgba(219, 219, 219, 0.6);
              }

              .color-1 {
                background-color: @color_white;
              }
              .color-2 {
                background-color: @color_red_weak;
              }
              .color-3 {
                background-color: @color_black_weak;
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------------- MEDIA QUERIES

@media screen and (max-width: 1220px) {
  
  .header {
    padding: 0 20px;
  }

  .main-banner__background__left {
    padding-left: 20px;
  }
}